<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="The Post Office : A puppet movie based on Rabindranath Tagore&#39;s play">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>The Post Office</title>
  </head>

  <body>

    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">The Post Office</h1>
        <h2 id="project_tagline">A puppet movie based on Rabindranath Tagore&#39;s play</h2>
      </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>&copy; 2016 Silvia Bergman &amp; Martin Olsson</p>
      </footer>
    </div>

  </body>
</html>
